 /* width */
    ::-webkit-scrollbar {
    width: .1px;
    height: .1px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
    background: #640564; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #888; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    }
    @font-face {
        font-family: fonte;
        src: url(font.ttf);
    }
    .corpo{width: 100%;display: block;padding: 2%;font-family: "fonte" ;height: 100vh;position: relative;overflow-y: auto;}
    .background-image{position: fixed;top:0;left:0;width: 100%;height: 100vh;z-index: -1;}
    .background-image img{display: block;width: 100%;height: 100vh;}
    .titulo{width: 98%;height:61px;display: flex;justify-content: center;align-items: center;background: #ffffff;-webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.25);border-radius: 5px;
    margin: auto auto;}
    .titulo h1{font-weight: lighter;margin: 0;}
       .container-div{display: block;width:96%;background: #fff;position: relative;padding:6%;-webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.25);
box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.25);border-radius: 5px;
margin: 20px auto 0 auto;font-size: 15px;}
.btn-flexa{display: block;width:96%;background: #fff;position: relative;padding:3% 6%;-webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.25);
box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.25);border-radius: 5px;
margin: 20px auto 0 auto;font-size: 15px;}
.icon-btn-flexa{position: absolute;top:25%;height:50%;right:3%;opacity: .5;}
.label-btn{font-weight: 200;margin: 0;font-size: 20pt;}
    @media screen and (max-width:400px) {
        
    }
